/* Place your CSS styles in this file */
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
  }
    body{
        margin:0;
        text-align: center;
        overflow: hidden;
        user-select:none;
        background-color: cadetblue;
        font-family: sans-serif;
        
    }
    .box{
        cursor: pointer;
        display:flex;
        justify-content: center;
        padding: 10px;
        margin:20px 0;
        background-color: white;
    }
    @media screen and (min-width: 940px)
    {
        .box{
            flex-direction: row;
        }
        .colorplate{
            width:35%;
        }
        .toolbox{
            width:65%;
        }
    }
    @media screen and (max-width: 940px) {
  /* Your CSS styles here */
      .box{
        flex-direction: column;
      }
      .colorplate, .toolBox{
        width:100%;
      }
}
    .colorplate{
        display:flex;
        flex-wrap: wrap;
        justify-content:center;
    }
    .colorplate div{
        height:30px;
        width:30px;
        margin:12px;
        border-radius: 50%;
    }
    .toolBox{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .toolBox div{
        width:70px;
    }
    span{
        display:flex;
        flex-wrap: wrap;
        width:100%;
        height:70%;
        justify-content: center;
        align-content: center;
        padding:20px;
    }
    img{
        width:70px;
        height:70px;
    }
    #current{
        display:inline-block;
        height:40px;
        width:40px;
        border: 2px outset gray;
    }
    .eraser{
        position: absolute;
        top:50%;
        left:50%;
        background-color: white;
        border:1px solid black;
    }
    .canvaCont{
        display:inline-block;
        width: 90%;
        height:600px;
        border: 2px solid black;

    }
    .toolBox div:hover{
       box-shadow: 2px 2px 6px grey;
    }
    #drop1 , #drop2{
        position:absolute;
        display:none;
        background-color: white;
    } 
    button{
        padding:8px 15px;
        border:none;
        background-color: rgb(118, 190, 192);
    }  
